<%= simple_form_for(@project) do |f| %>
	<% if @project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

        <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
	
	<div class="row-fluid">
		
		<div class="form-group span9">
			
				<%= f.input :content, :label => false, input_html:{class:'summernote span12'} %>
		
		</div>
		
		<div class="form-group span3 bg-grey">
			<div class="form-group ">
			    <%= f.input :name, input_html:{class:'form-control '} %>
			</div>

			<div class="form-group ">
			    <%= f.input :slug, input_html:{class:'form-control '} %>
			</div>
		    <div class="form-group">
		      <%= f.input :thumbnail_url, input_html: { class: 'input' } %>
		    </div>
			<div class="form-group">
			    <%= f.input :description, input_html:{class:'form-control input-text', rows: '3'} %>
			</div>
		    <div class="form-group">
		      <%= f.input :visibility, collection: ["public", "private"], class:'btn btn-success', selected:  f.object.visibility || 'public', input_html: { class: 'input' } %>
		    </div>
		    <div class="form-group">
		      <%= f.input :sidebar, input_html: { class: 'input-text', rows: '18' } %>
		    </div>
		</div>
		
	</div>
	
	<div class="row-fluid" style="margin-top: 20px;">
    	<div style="text-align: center;">
      	  <%= f.button :submit, class:'btn btn-success' %>
		</div>
    </div>
	

	
<% end %>