<%- model_class = Post -%>

<% if @post.image_url %>
	<img src="<%= @post.image_url %>" alt="">
<% end %>
<div class="page-header" style="text-align: center; margin-top: 30px; padding-bottom: 5px;">
  <h1><%= @post.title %></h1>
  <small><%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.full_name %></small>
</div>


<div>
<%= @post.content.html_safe %>
</div>




<div style="text-align: center; margin-top: 15px; margin-bottom: 25px;">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              posts_path, :class => 'btn'  %>
</div>
