

<%- model_class = Post -%>
<div class="page-header">
  <h3>
	  <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
	  <%= link_to "Novo Post",
	              new_post_path,
	              :class => 'btn btn-primary btn-mini' %>
  </h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="span4"><%= model_class.human_attribute_name(:title) %></th>
      <th class="span6"><%= model_class.human_attribute_name(:description) %></th>
      <th class="span2"><%= model_class.human_attribute_name(:created_at) %></th>
      <th class="span2"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post_path(post) %></td>
        <td><%= post.description %></td>
        <td><%= time_ago_in_words( post.created_at) %></td>
        <td>
          <%= link_to "Editar",
                      edit_post_path(post), :class => 'btn btn-mini' %>
          <%= link_to "Deletar",
                      post_path(post),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%- model_class = Project -%>
<div class="page-header">
  <h3>
	  <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
	  <%= link_to "Novo Projeto",
	              new_post_path,
	              :class => 'btn btn-primary btn-mini' %>
  </h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="span4"><%= model_class.human_attribute_name(:name) %></th>
      <th class="span6"><%= model_class.human_attribute_name(:description) %></th>
      <th class="span2"><%= model_class.human_attribute_name(:created_at) %></th>
      <th class="span2"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project_path(project) %></td>
        <td><%= truncate( project.description, :length => 60, :omission => '...') %></td>
        <td><%= time_ago_in_words( project.created_at) %></td>
        <td>
          <%= link_to "Editar",
                      edit_project_path(project), :class => 'btn btn-mini' %>
          <%= link_to "Deletar",
                      project_path(project),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%- model_class = SitePage -%>
<div class="page-header" style="margin-top: 45px;">
  <h3>Configurações <%= link_to 'Nova Váriavel', new_site_page_path, :class => 'btn btn-mini btn-primary' %></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
	  <th class="span1"><%= model_class.human_attribute_name(:id) %></th>
      <th class="span4"><%= model_class.human_attribute_name(:title) %></th>
      <th class="span7"><%= model_class.human_attribute_name(:content) %></th>
      <th class="span2"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @site_pages.each do |site_page| %>
      <tr>
		<td><%= site_page.id %></td>
        <td><%= truncate( site_page.title, :length => 40, :omission => '...') %></td>
        <td><%= truncate( site_page.content, :length => 75, :omission => '...')  %></td>
        <td>
          <%= link_to 'Editar',
                      edit_site_page_path(site_page), :class => 'btn btn-mini' %>
          <%= link_to 'Deletar',
                      site_page_path(site_page),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


